@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-bg {
    background-image: url("/img/main_background.png");
  }

  .main-grid {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }

  .p-half {
    padding: 0.5px;
  }

  .inset-half {
    inset: 0.5px;
  }

  .backdrop-blur-tiny {
    --tw-backdrop-blur: blur(3px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur)
      var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
      var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
      var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
      var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
      var(--tw-backdrop-sepia);
  }

  .main-link {
    padding: 2px;
  }

  .main-column-border {
    @apply absolute inset-0 apply-mask z-20 pointer-events-none;
    content: "";
    padding: 1px;
    opacity: 0.55;
  }

  .main-link-section-border::before {
    @apply rounded-full main-column-border;
    background:
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 36%,
        rgba(255, 255, 255, 1) 64%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 36%,
        rgba(255, 255, 255, 1) 64%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  .horizontal-bar-border::before {
    @apply rounded-full main-column-border;
    background:
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 16%,
        rgba(255, 255, 255, 1) 84%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 16%,
        rgba(255, 255, 255, 1) 84%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  .main-block-border::before {
    @apply rounded-5xl main-column-border;
    background:
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 6%,
        rgba(255, 255, 255, 1) 94%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 6%,
        rgba(255, 255, 255, 1) 94%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  .comment-wrong-border::before {
    @apply rounded-2xl main-column-border;
    background:
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(248, 113, 113, 0.95) 16%,
        rgba(248, 113, 113, 0.95) 84%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(248, 113, 113, 0.95) 16%,
        rgba(248, 113, 113, 0.95) 84%,
        rgba(255, 255, 255, 0) 100%
      );
  }
  .comment-correct-border::before {
    @apply rounded-2xl main-column-border;
    background:
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(52, 211, 153, 0.95) 16%,
        rgba(52, 211, 153, 0.95) 84%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(52, 211, 153, 0.95) 16%,
        rgba(52, 211, 153, 0.95) 84%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  .block-border::before {
    @apply rounded-3xl main-column-border;
    background:
      linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 10%,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 0) 100%
      );
  }

  .main-link-border::before {
    @apply absolute inset-0 rounded-full apply-mask pointer-events-none;
    content: "";
    background:
      radial-gradient(
        22px 22px at 20% 20%,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0) 100%
      ),
      radial-gradient(
        22px 20px at 75% 78%,
        rgba(255, 255, 255, 0.95),
        rgba(255, 255, 255, 0) 100%
      );
    padding: 2px;
  }
  .apply-mask {
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
  }

  .selected-bg {
    background-image: url("/img/selected_background.jpg");
  }

  .big-column {
    grid-column: span 22;
  }
  .rounded-5xl {
    border-radius: 42px;
  }

  .search-field {
    width: 45%;
  }

  .black-fade::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 10;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.7)
    );
  }
  .no-scrollbar {
    scrollbar-width: none;
  }
  .long-text {
    letter-spacing: 0.28em;
  }

  .is-button-wrong {
    @apply bg-red-500/20 ring-1 ring-red-400/60 shadow-lg shadow-red-500/30 !important;
  }

  .is-button-correct {
    @apply bg-emerald-500/20 ring-1 ring-emerald-300/60 shadow-lg shadow-emerald-500/30 !important;
  }

  .comment-wrong {
    @apply bg-red-500/10 backdrop-blur-lg;
  }

  .comment-correct {
    @apply bg-emerald-500/10 backdrop-blur-lg;
  }

  .default-card {
    @apply relative rounded-3xl overflow-hidden bg-white/10 block-border;
  }
  

}


@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgba(255,255,255,.9);
    caret-color: rgba(255,255,255,.9);
    transition: background-color 9999s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px transparent inset;
  }
}