@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-bg {
    background-image: url("/img/main_background.png");
  }

  .main-grid {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }

  .p-half {
    padding: 0.5px;
  }

  .inset-half {
    inset: 0.5px;
  }

  .backdrop-blur-tiny {
    --tw-backdrop-blur: blur(3px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur)
      var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
      var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
      var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
      var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
      var(--tw-backdrop-sepia);
  }
}
